@model List<Portfolio>
<style>
    .masonry-wrap {
        display: flex;
        justify-content: center;
    }

    .masonry {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 15px;
        width: 100%;
        max-width: 1200px;
    }

    .masonry__brick {
        margin: 1;
    }

    .item-folio {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    .item-folio__thumb img {
        border-radius: 8px 8px 0 0;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
</style>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz Atabilirsiniz</h1>

            <p class="lead">Burada youtube, udemy üzerinden ve M&Y Akademi'den aldığım eğitimlerin birkaç fotoğrafı bulunmaktadır</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry mr-2" >
            @foreach (var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="@item.ImageUrl" class="thumb-link" title="@item.Title" data-size="1050x700">
                                <img src="@item.ImageUrl"
                                     srcset="@item.ImageUrl 1x, @item.ImageUrl 2x" alt="@item.Title">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>


                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.Title
                            </h3>
                            <p class="item-folio__cat">
                                @item.SubTitle
                            </p>
                        </div>

                        <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>@item.Description.Substring(0, Math.Min(100, item.Description.Length))...</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
            }

        </div>
    </div> <!-- end masonry -->

</section>